* {
  box-sizing: border-box;
}

body {
  --color-black: #362d21;
  --color-tan: #e7d1b0;
  --color-tan-medium: #f5e7d0;
  --color-tan-light: #fff6e8;
  --color-button: #0277bd;
  --color-button-light: #039be5;
  --color-success: #388e3c;
  --color-success-light: #4caf50;

  --font-text: "Roboto", sans-serif;
  --font-title: "Oswald", sans-serif;

  max-width: 1200px;
  margin: 0 auto;
  padding: 30px 0 0;
  font-family: var(--font-text);
  font-size: 14px;
  color: var(--color-black);
  background: var(--color-tan-medium);
}

h1 {
  margin: 0 0 30px;
  text-align: center;
  font-family: var(--font-title);
  font-size: 2.5rem;
  text-transform: uppercase;
}

#menu {
  padding: 10px;
  text-align: center;
}

#menu button {
  padding: 15px 40px;
  cursor: pointer;
  background: linear-gradient(var(--color-button-light), var(--color-button));
  border: 1px solid var(--color-button);
  color: white;
  font-family: var(--font-title);
  font-size: 1.3rem;
  text-transform: uppercase;
}

#cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
}

.card-container {
  padding: 10px;
}

.card {
  width: 100%;
  padding: 10px 20px;
  border: 1px solid var(--color-tan);
  text-align: center;
  background: var(--color-tan-light);
}
.card.selected {
  background: linear-gradient(var(--color-success-light), var(--color-success));
  border-color: var(--color-success);
  color: white;
}

.card-container a {
  text-decoration: none;
  color: inherit;
}

.emojis {
  margin-top: 5px;
  font-size: 1.1rem;
}

#filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 30px 0;
}

#filters label {
  display: flex;
  align-items: center;
  margin: 5px 10px;
  cursor: pointer;
  font-size: 0.9rem;
  text-transform: capitalize;
}

#filters label input {
  margin: 0 5px 0 0;
}
